.footer {
  display: flex;
  justify-content: space-around;
  height: 35vh;
  background-color: black;
  color: white;
  align-items: center;
}
.h4 {
  font-weight: 300;
}
.exploreContainer {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.exploreContainerGood {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerTitle {
  font-weight: 250;
  font-size: 30px;
}

.column {
  display: flex;
}

.halfContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.svgContainer {
  height: 50px;
  width: 50px;
}

.logo {
  height: 150px;
}

.footerTags {
  font-weight: 100;
  cursor: pointer;
}

.socialsText {
  font-size: 30px;
  font-weight: 250;
}
@media (max-width: 650px) {
  .exploreContainer {
    display: none;
  }
  .footerTags {
    font-size: 13px;
  }
  .footerTitle {
    font-size: 25px;
  }
  .footer {
    height: 31vh;
  }
}
