.color {
  color: black;
  font-size: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
}

.keyTitle {
  background-color: rgb(221, 222, 227);
  padding: 10px;
  color: black;
  font-weight: 700;
  width: 100%;
  text-align: center;
  width: 40%;
}

.main {
  width: 100%;
  height: 121vh;
  background-color: white;
}

.backContainer {
  display: flex;
  width: 60%;
  color: black;
  justify-content: flex-end;
}

.logoSpace {
  height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.buttonContainer {
  width: 200px;
}

.thirdSection {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: 300;
  padding: 40px;
  text-align: center;
}

.focusTitle {
  color: black;
  font-size: 30px;
  font-weight: 300;
  width: 50%;
  padding: 20px;
  text-align: center;
  transition: all ease-in 0.3s;
}

.focusTitle:hover {
  color: black;
  background-color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.focusTitleGray {
  color: black;
  background-color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: 300;
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.keyPointTitle {
  color: black;
  font-size: 19px;
  padding: 10px;
  font-weight: 300;
  text-align: center;
}

.copierContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.paragraphContainer {
  width: 50%;
}

.smaller {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.paragraph {
  color: black;
  font-size: 20px;
  font-weight: 200;
}

.lineColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphSmall {
  color: black;
  font-size: 20px;
  font-weight: 300;
}

.bulletContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.bullet {
  background-color: black;
  color: transparent;
  height: 15px;
  width: 15px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.logo {
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 77%;
}

.aboutRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.keyRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photoBox {
  width: 800px;
  height: 350px;
  background-color: white;
}

.secondSection {
  height: 53vh;
  background-color: gray;
}

.lexmark {
  background-image: url("/static/Lexmark.jpg");
  height: 40vh;
  width: 30 / vw;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.konika {
  background-image: url("/static/Konika.jpg");
  height: 52vh;
  width: 30vw;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.epson {
  background-image: url("/static/epson.jpg");
  height: 40vh;
  width: 20vw;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.logoSpaceContainer {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1.5px;
  width: 150%;
  background-color: rgb(218, 221, 233);
}

.keyLine {
  height: 1.5px;
  width: 100%;
  background-color: rgb(218, 221, 233);
}

.centerLine {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.infoSmall {
  color: black;
  font-size: 17px;
}

.infoMedium {
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.infoBig {
  color: black;
  font-weight: 700;
  font-size: 30px;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (width < 1200px) {
  .keyPointTitle {
    font-size: 16px;
  }
}

@media (width < 1050px) {
  .keyPointTitle {
    font-size: 16px;
  }
  .row {
    width: 90%;
  }
}

@media (width < 750px) {
  .konika {
    height: 36vh;
  }
}

@media (width < 550px) {
  .focusTitle {
    font-size: 23px;
  }
  .focusTitleGray {
    font-size: 23px;
  }
  .focusTitle:hover {
    color: black;
    background-color: rgb(245, 245, 245);
    font-size: 23px;
    font-weight: 300;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
  }
  .button {
    font-size: 13px;
    width: 80%;
  }
}
