.main {
    width: 100%;
    background-color: white;
  }
  .mainBottom{
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .title{
    font-size: 30px;
    color: white;
    padding: 15px;
  }
  .rightSide{
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);
  }
  .box{
    width: 270px;
    border-radius: 10px;
    height: 320px;
    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .box div{
    color: black;
  }
  
  .titleBlack{
    font-size: 30px;
    color: black;
    padding: 15px;
  }
  .rowNumber{
    display: flex;
    justify-content: space-evenly;
  }
  .somethingContainer{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
  }
  .titleBlackSmall{
    font-size: 20px;
    color: black;
    padding: 15px;
    text-align: center;
  }
  .price{
    font-size: 35px;
    text-align: center;
  }
  .fifty{
    height: 50%;
  }
  
  .leftSide{
    width: 20%;
    background-color: black;
    display: flex;
    
    flex-direction: column;
    align-items: center;
  }
  .logoSpace {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .button {
    appearance: none;
    background-color: rgb(254, 190, 104);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
  }
  .button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  
  .button:disabled {
    pointer-events: none;
  }
  
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .buttonContainer {
    width: 200px;
  }
  
  .paragraphContainer {
    width: 50%;
  }
  
  .logo {
    width: 170px;
    height: 170px;
    object-fit: contain;
  }
  
  .menuRow {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }
  
  .image {
    width: 500px;
  }
  .titleBig {
    color: black;
    font-size: 50px;
    letter-spacing: 1.5px;
  }
  
  .titleContainer {
    width: 28%;
    display: flex;
    justify-content: flex-end;
  }
  
  .row {
    display: flex;
    width: 70%;
  }
  .row div{
    font-size: 20px;
    padding: 10px;
  }
  .button-43 {
    background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-43:hover {
    background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
  }
  
  @media (min-width: 768px) {
    .button-43 {
      padding: 1rem 2rem;
    }
  }
  
  .photoBox {
    width: 800px;
    height: 350px;
    background-color: white;
  }
  
  .eighty {
    width: 90%;
  }
  
  .secondSection {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .thirdSection {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .optionContainer {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-around;
  }
  
  .info {
    color: rgb(109, 113, 132);
    line-height: 23px;
  }
  
  .optionsContainer {
    display: flex;
    width: 20%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  
  .logoSpaceContainer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .columnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
  }
  
  .infoSmall {
    color: black;
    font-size: 17px;
  }
  
  .infoMedium {
    color: black;
    font-weight: 400;
    font-size: 20px;
  }
  
  .infoBig {
    color: black;
    font-weight: 700;
    font-size: 30px;
  }
  
  .parent {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .parent div {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  
  .container {
    padding: 20px;
    color: black;
    text-align: center;
    background-color: rgb(245, 247, 248);
    height: 76vh;
    width: 30vw;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .line {
    height: 1px;
    width: 80%;
    background-color: rgb(218, 221, 233);
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
  
  .black {
    font-size: 35px;
    color: black;
    text-align: center;
  }
  .smallBlack {
    font-size: 20px;
    font-weight: 100;
    color: black;
    text-align: center;
  }
  .phoneNumber {
    background-color: transparent;
    outline: none;
    color: rgb(117, 117, 117);
    border: none;
    border-bottom: 1px black solid;
    width: 100%;
    font-size: 20px;
  }
  .phoneNumber:focus {
    border: none;
  }
  .blackLarge {
    font-size: 25px;
    color: black;
  }
  .epson {
    background-image: url("/static/Epson.webp");
    height: 8vh;
    width: 10vw;
    margin-top: 25px;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .Konika {
    background-image: url("/static/Konika.png");
    height: 15vh;
    width: 13vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .lexmark {
    background-image: url("/static/Lexmark.png");
    height: 15vh;
    width: 13vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .kycotera {
    background-image: url("/static/Kycotera.png");
    height: 5vh;
    width: 14vw;
    margin-top: 20px;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .xerox {
    background-image: url("/static/xerox.jpeg");
    height: 7vh;
    width: 14vw;
    margin-top: 20px;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .hp {
    background-image: url("/static/hp.webp");
    height: 11vh;
    width: 10vw;
  
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .sharp {
    background-image: url("/static/sharp.png");
    height: 5vh;
    width: 14vw;
    margin-top: 30px;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .ricoh {
    background-image: url("/static/ricoh.png");
    height: 5vh;
    width: 14vw;
    margin-top: 30px;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .canon {
    background-image: url("/static/canon.webp");
    height: 7vh;
    width: 14vw;
    margin-top: 20px;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .line {
    height: 1px;
    width: 90%;
    background-color: rgb(218, 221, 233);
    color: black;
  }
  
  /* input {
      border: none;
      outline: none;
      border-bottom: 1px black solid;
      background-color: transparent;
      border-color: rgb(169, 172, 173);
      font-size: 17px;
  } */
  
  .numberContainer {
    width: 60%;
    display: flex;
    align-items: center;
  }
  
  .light {
    font-weight: 250;
    color: rgb(169, 172, 173);
  }
  
  .space {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .inputSingle {
    background-color: transparent;
    border: none;
    color: black;
    border-bottom: 1px black solid;
    width: 80%;
  }
  
  .selected {
    width: 80%;
    height: 30px;
    background-color: transparent;
    color: rgb(147, 147, 147);
    border-color: rgb(147, 147, 147);
  }
  

  .thirty {
    width: 25%;
  }
  
  @media (max-width: 1000px) {
    .container {
      width: 70vw;
    }
    .mainSpace {
      width: 85%;
      height: 77%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .row {
      flex-direction: column;
      height: 126vh;
    }
    .main {
      height: 150vh;
    }
    /* .lexmark{
      width: 20vw;
      height: 10vw;
    }
    .Konika{
      width: 25vw;
      height: 15vw; */
  }
  
  @media (max-width: 750px) {
    .container {
      width: 80vw;
    }
  }
  
  @media (max-width: 600px) {
    .columnContainer {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .infoBig {
      font-size: 25px;
    }
    .infoMedium {
      font-size: 17px;
    }
    .logoSpace {
      width: 95%;
      justify-content: space-around;
    }
    .lexmark {
      height: 15vh;
      width: 20vw;
    }
    .Konika {
      height: 15vh;
      width: 36vw;
    }
    .epson {
      height: 8vh;
      width: 21vw;
    }
    .mainSpace {
      width: 95%;
    }
    .kycotera {
      height: 5vh;
      width: 27vw;
    }
    .xerox {
      height: 5vh;
      width: 30vw;
    }
    .hp {
      height: 11vh;
      width: 20vw;
    }
    .canon {
      height: 7vh;
      width: 22vw;
    }
    .sharp {
      height: 5vh;
      width: 23vw;
    }
    .ricoh {
      height: 5vh;
      width: 25vw;
    }
  }
  